/*!
* DSFR v1.2.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
*/

/* ------------------------------------ *\
  TABLE
\* ------------------------------------ */
.fr-table {
  --table-offset: 1rem;
  --text-spacing: 0;
  --title-spacing: 0;
  position: relative;
  margin-bottom: 2.5rem;
  padding-top: var(--table-offset);
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
}

.fr-table:not(.fr-table--no-scroll) table {
  width: 100%;
}

.fr-table table {
  width: 100%;
  display: block;
  overflow: auto;
  border-spacing: 0;
}

.fr-table[data-fr-js-table="true"] caption {
  position: absolute;
  top: 0;
}

.fr-table caption {
  position: initial;
  font-size: 1.375rem;
  line-height: 1.75rem;
  margin: var(--title-spacing);
  font-weight: 700;
  text-align: left;
  color: var(--text-title-grey);
}

.fr-table td,
.fr-table th {
  text-align: left;
  vertical-align: middle;
  display: table-cell;
  border: 0;
  padding: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.fr-table th {
  font-weight: 700;
}

.fr-table thead td,
.fr-table thead th {
  font-weight: 700;
  padding-bottom: 0.875rem;
}

/*
* Cache la caption
*/
.fr-table--no-caption {
  padding-top: 0;
}

.fr-table--no-caption caption {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;

  /* added line */
  border: 0;
  height: 0;
}

/*
* Fixe le caption en bas du tableau
*/
.fr-table--caption-bottom {
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 1rem;
}

.fr-table--caption-bottom table {
  margin-bottom: calc(var(--table-offset) + 2.75rem);
}

.fr-table--caption-bottom[data-fr-js-table="true"] caption {
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 1rem;
}

.fr-table--caption-bottom caption {
  margin-top: 1rem;
  height: min-content;
  caption-side: bottom;
}

/*
* pas de scroll ni de shadow
*/
.fr-table--no-scroll {
  min-width: auto;
}

.fr-table--no-scroll table {
  overflow-x: hidden;
}

.fr-table--no-scroll caption {
  max-width: calc(100vw - 2rem);
}

/*
* Fixe la taille des colonnes du tableau
*/
.fr-table--layout-fixed table {
  display: table;
  table-layout: fixed;
}

/*
* Ombres ajoutées en Js si le contenu est plus grand que le conteneur
*/
.fr-table__shadow {
  /**
  * Modifier ombre à gauche
  **/

  /**
  * Modifier ombre à droite
  **/

  /**
  * Modifier combinaison ombre à gauche et ombre à droite
  **/
}

.fr-table__shadow::before {
  content: "";
  display: block;
  position: absolute;
  top: var(--table-offset);
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  box-shadow: inset 0 0 0 0 #161616, inset 0 0 0 0 #161616;
  opacity: 0.32;
  pointer-events: none;
  transition: box-shadow 0.3s;
}

.fr-table__shadow--left::before {
  box-shadow: inset 2rem 0 1rem -2rem #161616, inset 0 0 0 0 #161616;
}

.fr-table__shadow--right::before {
  box-shadow: inset 0 0 0 0 #161616, inset -2rem 0 1rem -2rem #161616;
}

.fr-table__shadow--left.fr-table__shadow--right::before {
  content: "";
  display: block;
  box-shadow: inset 2rem 0 1rem -2rem #161616, inset -2rem 0 1rem -2rem #161616;
}

/*
* Positionnement ombres sur le tableau sans caption
*/
.fr-table--no-caption .fr-table__shadow::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
* Positionnement ombres sur le tableau avec caption en bas
*/
.fr-table--caption-bottom .fr-table__shadow::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

:root[data-fr-theme="dark"] .fr-table__shadow::before {
  opacity: 1;
}

.fr-table thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);

  --blend: var(--background-contrast-grey-blend);
  background-color: var(--background-contrast-grey);
  color: var(--text-title-grey);
}

.fr-table tbody {
  --blend: var(--background-alt-grey-blend);
  background-color: var(--background-alt-grey);
}

.fr-table tbody tr:nth-child(even) {
  --blend: var(--background-contrast-grey-blend);
  background-color: var(--background-contrast-grey);
}

.fr-table--green-tilleul-verveine {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--green-tilleul-verveine thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-green-tilleul-verveine);

  --blend: var(--background-contrast-green-tilleul-verveine-blend);
  background-color: var(--background-contrast-green-tilleul-verveine);
}

.fr-table--green-tilleul-verveine tbody {
  --blend: var(--background-alt-green-tilleul-verveine-blend);
  background-color: var(--background-alt-green-tilleul-verveine);
}

.fr-table--green-tilleul-verveine tbody tr:nth-child(even) {
  --blend: var(--background-contrast-green-tilleul-verveine-blend);
  background-color: var(--background-contrast-green-tilleul-verveine);
}

.fr-table--green-tilleul-verveine.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-green-tilleul-verveine);
}

.fr-table--green-bourgeon {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--green-bourgeon thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-green-bourgeon);

  --blend: var(--background-contrast-green-bourgeon-blend);
  background-color: var(--background-contrast-green-bourgeon);
}

.fr-table--green-bourgeon tbody {
  --blend: var(--background-alt-green-bourgeon-blend);
  background-color: var(--background-alt-green-bourgeon);
}

.fr-table--green-bourgeon tbody tr:nth-child(even) {
  --blend: var(--background-contrast-green-bourgeon-blend);
  background-color: var(--background-contrast-green-bourgeon);
}

.fr-table--green-bourgeon.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-green-bourgeon);
}

.fr-table--green-emeraude {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--green-emeraude thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-green-emeraude);

  --blend: var(--background-contrast-green-emeraude-blend);
  background-color: var(--background-contrast-green-emeraude);
}

.fr-table--green-emeraude tbody {
  --blend: var(--background-alt-green-emeraude-blend);
  background-color: var(--background-alt-green-emeraude);
}

.fr-table--green-emeraude tbody tr:nth-child(even) {
  --blend: var(--background-contrast-green-emeraude-blend);
  background-color: var(--background-contrast-green-emeraude);
}

.fr-table--green-emeraude.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-green-emeraude);
}

.fr-table--green-menthe {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--green-menthe thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-green-menthe);

  --blend: var(--background-contrast-green-menthe-blend);
  background-color: var(--background-contrast-green-menthe);
}

.fr-table--green-menthe tbody {
  --blend: var(--background-alt-green-menthe-blend);
  background-color: var(--background-alt-green-menthe);
}

.fr-table--green-menthe tbody tr:nth-child(even) {
  --blend: var(--background-contrast-green-menthe-blend);
  background-color: var(--background-contrast-green-menthe);
}

.fr-table--green-menthe.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-green-menthe);
}

.fr-table--green-archipel {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--green-archipel thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-green-archipel);

  --blend: var(--background-contrast-green-archipel-blend);
  background-color: var(--background-contrast-green-archipel);
}

.fr-table--green-archipel tbody {
  --blend: var(--background-alt-green-archipel-blend);
  background-color: var(--background-alt-green-archipel);
}

.fr-table--green-archipel tbody tr:nth-child(even) {
  --blend: var(--background-contrast-green-archipel-blend);
  background-color: var(--background-contrast-green-archipel);
}

.fr-table--green-archipel.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-green-archipel);
}

.fr-table--blue-ecume {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--blue-ecume thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-blue-ecume);

  --blend: var(--background-contrast-blue-ecume-blend);
  background-color: var(--background-contrast-blue-ecume);
}

.fr-table--blue-ecume tbody {
  --blend: var(--background-alt-blue-ecume-blend);
  background-color: var(--background-alt-blue-ecume);
}

.fr-table--blue-ecume tbody tr:nth-child(even) {
  --blend: var(--background-contrast-blue-ecume-blend);
  background-color: var(--background-contrast-blue-ecume);
}

.fr-table--blue-ecume.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-blue-ecume);
}

.fr-table--blue-cumulus {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--blue-cumulus thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-blue-cumulus);

  --blend: var(--background-contrast-blue-cumulus-blend);
  background-color: var(--background-contrast-blue-cumulus);
}

.fr-table--blue-cumulus tbody {
  --blend: var(--background-alt-blue-cumulus-blend);
  background-color: var(--background-alt-blue-cumulus);
}

.fr-table--blue-cumulus tbody tr:nth-child(even) {
  --blend: var(--background-contrast-blue-cumulus-blend);
  background-color: var(--background-contrast-blue-cumulus);
}

.fr-table--blue-cumulus.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-blue-cumulus);
}

.fr-table--purple-glycine {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--purple-glycine thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-purple-glycine);

  --blend: var(--background-contrast-purple-glycine-blend);
  background-color: var(--background-contrast-purple-glycine);
}

.fr-table--purple-glycine tbody {
  --blend: var(--background-alt-purple-glycine-blend);
  background-color: var(--background-alt-purple-glycine);
}

.fr-table--purple-glycine tbody tr:nth-child(even) {
  --blend: var(--background-contrast-purple-glycine-blend);
  background-color: var(--background-contrast-purple-glycine);
}

.fr-table--purple-glycine.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-purple-glycine);
}

.fr-table--pink-macaron {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--pink-macaron thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-pink-macaron);

  --blend: var(--background-contrast-pink-macaron-blend);
  background-color: var(--background-contrast-pink-macaron);
}

.fr-table--pink-macaron tbody {
  --blend: var(--background-alt-pink-macaron-blend);
  background-color: var(--background-alt-pink-macaron);
}

.fr-table--pink-macaron tbody tr:nth-child(even) {
  --blend: var(--background-contrast-pink-macaron-blend);
  background-color: var(--background-contrast-pink-macaron);
}

.fr-table--pink-macaron.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-pink-macaron);
}

.fr-table--pink-tuile {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--pink-tuile thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-pink-tuile);

  --blend: var(--background-contrast-pink-tuile-blend);
  background-color: var(--background-contrast-pink-tuile);
}

.fr-table--pink-tuile tbody {
  --blend: var(--background-alt-pink-tuile-blend);
  background-color: var(--background-alt-pink-tuile);
}

.fr-table--pink-tuile tbody tr:nth-child(even) {
  --blend: var(--background-contrast-pink-tuile-blend);
  background-color: var(--background-contrast-pink-tuile);
}

.fr-table--pink-tuile.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-pink-tuile);
}

.fr-table--yellow-tournesol {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--yellow-tournesol thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-yellow-tournesol);

  --blend: var(--background-contrast-yellow-tournesol-blend);
  background-color: var(--background-contrast-yellow-tournesol);
}

.fr-table--yellow-tournesol tbody {
  --blend: var(--background-alt-yellow-tournesol-blend);
  background-color: var(--background-alt-yellow-tournesol);
}

.fr-table--yellow-tournesol tbody tr:nth-child(even) {
  --blend: var(--background-contrast-yellow-tournesol-blend);
  background-color: var(--background-contrast-yellow-tournesol);
}

.fr-table--yellow-tournesol.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-yellow-tournesol);
}

.fr-table--yellow-moutarde {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--yellow-moutarde thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-yellow-moutarde);

  --blend: var(--background-contrast-yellow-moutarde-blend);
  background-color: var(--background-contrast-yellow-moutarde);
}

.fr-table--yellow-moutarde tbody {
  --blend: var(--background-alt-yellow-moutarde-blend);
  background-color: var(--background-alt-yellow-moutarde);
}

.fr-table--yellow-moutarde tbody tr:nth-child(even) {
  --blend: var(--background-contrast-yellow-moutarde-blend);
  background-color: var(--background-contrast-yellow-moutarde);
}

.fr-table--yellow-moutarde.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-yellow-moutarde);
}

.fr-table--orange-terre-battue {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--orange-terre-battue thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-orange-terre-battue);

  --blend: var(--background-contrast-orange-terre-battue-blend);
  background-color: var(--background-contrast-orange-terre-battue);
}

.fr-table--orange-terre-battue tbody {
  --blend: var(--background-alt-orange-terre-battue-blend);
  background-color: var(--background-alt-orange-terre-battue);
}

.fr-table--orange-terre-battue tbody tr:nth-child(even) {
  --blend: var(--background-contrast-orange-terre-battue-blend);
  background-color: var(--background-contrast-orange-terre-battue);
}

.fr-table--orange-terre-battue.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-orange-terre-battue);
}

.fr-table--brown-cafe-creme {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--brown-cafe-creme thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-brown-cafe-creme);

  --blend: var(--background-contrast-brown-cafe-creme-blend);
  background-color: var(--background-contrast-brown-cafe-creme);
}

.fr-table--brown-cafe-creme tbody {
  --blend: var(--background-alt-brown-cafe-creme-blend);
  background-color: var(--background-alt-brown-cafe-creme);
}

.fr-table--brown-cafe-creme tbody tr:nth-child(even) {
  --blend: var(--background-contrast-brown-cafe-creme-blend);
  background-color: var(--background-contrast-brown-cafe-creme);
}

.fr-table--brown-cafe-creme.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-brown-cafe-creme);
}

.fr-table--brown-caramel {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--brown-caramel thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-brown-caramel);

  --blend: var(--background-contrast-brown-caramel-blend);
  background-color: var(--background-contrast-brown-caramel);
}

.fr-table--brown-caramel tbody {
  --blend: var(--background-alt-brown-caramel-blend);
  background-color: var(--background-alt-brown-caramel);
}

.fr-table--brown-caramel tbody tr:nth-child(even) {
  --blend: var(--background-contrast-brown-caramel-blend);
  background-color: var(--background-contrast-brown-caramel);
}

.fr-table--brown-caramel.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-brown-caramel);
}

.fr-table--brown-opera {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--brown-opera thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-brown-opera);

  --blend: var(--background-contrast-brown-opera-blend);
  background-color: var(--background-contrast-brown-opera);
}

.fr-table--brown-opera tbody {
  --blend: var(--background-alt-brown-opera-blend);
  background-color: var(--background-alt-brown-opera);
}

.fr-table--brown-opera tbody tr:nth-child(even) {
  --blend: var(--background-contrast-brown-opera-blend);
  background-color: var(--background-contrast-brown-opera);
}

.fr-table--brown-opera.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-brown-opera);
}

.fr-table--beige-gris-galet {
  /* Style bordered, ajoute des bordures entre chaque ligne */
}

.fr-table--beige-gris-galet thead {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-beige-gris-galet);

  --blend: var(--background-contrast-beige-gris-galet-blend);
  background-color: var(--background-contrast-beige-gris-galet);
}

.fr-table--beige-gris-galet tbody {
  --blend: var(--background-alt-beige-gris-galet-blend);
  background-color: var(--background-alt-beige-gris-galet);
}

.fr-table--beige-gris-galet tbody tr:nth-child(even) {
  --blend: var(--background-contrast-beige-gris-galet-blend);
  background-color: var(--background-contrast-beige-gris-galet);
}

.fr-table--beige-gris-galet.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-beige-gris-galet);
}

.fr-table--bordered tbody tr {
  box-shadow: inset 0 -1px 0 0 var(--border-default-grey);

  /* Style bordered, enleve le style even/odd  */
}

.fr-table--bordered tbody tr:nth-child(even) {
  background-color: transparent;

  --blend: inherit;
}

@media (min-width: 48em) {
  .fr-table caption {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .fr-table td,
  .fr-table th {
    padding: 1rem;
  }

  .fr-table thead td,
  .fr-table thead th {
    padding-bottom: 1.125rem;
  }
}
