.fr-link {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.fr-link {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.fr-link--align-on-content {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.fr-link--sm {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.fr-link--sm.fr-link--align-on-content {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.fr-link--lg {
  font-size: 1.25rem;
  line-height: 2rem;
  min-height: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}

.fr-link--lg.fr-link--align-on-content {
  margin-left: -1rem;
  margin-right: -1rem;
}

.fr-link--close {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  flex-direction: row-reverse;
  overflow: initial;
  max-width: none;
  max-height: none;
  margin-left: -0.75rem;
  margin-right: -0.5rem;
  display: flex;
  margin-left: auto;
}

.fr-link {
  color: var(--bf500);
  background-color: var(--t-plain);
}

:root:not([data-fr-theme="dark"]) .fr-link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-fr-theme="dark"]) [class*="fr-scheme-light"] .fr-link,
:root:not([data-fr-theme="dark"]) [class*="--scheme-light-"] .fr-link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-fr-theme="dark"]) [class*="fr-scheme-dark"] .fr-link,
:root:not([data-fr-theme="dark"]) [class*="--scheme-dark-"] .fr-link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root[data-fr-theme="dark"] .fr-link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

button.fr-link[disabled], a.fr-link:not([href]) {
  color: var(--g600-g400);
}

@media (hover: hover) and (pointer: fine) {
  .fr-link:not(a):not(:disabled):hover, a.fr-link[href]:hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  .fr-link:not(a):not(:disabled):active, a.fr-link[href]:active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }
}
