/*!
* DSFR v1.2.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
*/

/* ------------------------------------ *\
  CARD
\* ------------------------------------ */
.fr-card {
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  --text-spacing: 0 0 1rem;
  --title-spacing: 0 0 0.5rem;
  --blend: var(--background-default-grey-blend);
  background-color: var(--background-default-grey);
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

.fr-grid-row .fr-card {
  height: 100%;
}

/* .fr-card:not(.fr-card--no-arrow) .fr-card__body::after {
  font: normal normal normal 1.5rem/1 dsfr-icon;
  content: "ÓÄç";
  width: 1.5rem;
  height: 1.5rem;
  margin-top: auto;
  margin-left: auto;
  color: var(--text-action-high-blue-france);
} */

.fr-card__img {
  position: relative;
  width: 100%;
}

.fr-card__img::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
}

.fr-card__img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.fr-card__body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1.5rem;
}

.fr-card__detail {
  font-size: 0.75rem;
  line-height: 1.25rem;
  order: -1;
  color: var(--text-mention-grey);
}

.fr-card__title {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: var(--text-title-grey);
}

.fr-card__desc {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.fr-card__link {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
  display: inline-flex;
  width: 100%;
  margin-top: auto;
}

.fr-card--grey {
  --blend: var(--background-contrast-grey-blend);
  background-color: var(--background-contrast-grey);
}

@media (min-width: 48em) {
  .fr-card__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .fr-card--horizontal {
    flex-direction: row-reverse;
  }

  .fr-card--horizontal .fr-card__img {
    max-width: 41.666%;
    flex: 1 0 auto;
  }
}
