/*!
* DSFR v1.2.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
*/

/* ------------------------------------ *\
  INPUT
\* ------------------------------------ */
/* stylelint-disable */
.fr-input {
  display: block;
  width: 100%;
  border-radius: 0.25rem 0.25rem 0 0;
  font-size:  1rem ;
  line-height:  1.5rem ;
  padding: 0.5rem 1rem;
  /**
  * Style du placeholder
  */
  /**
  * On applique une hauteur maximale si l'élément n'est pas un textarea
  */
  color: var(--text-label-grey);
  --blend: var(--background-contrast-grey-blend);
  background-color: var(--background-contrast-grey);
  box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
  /**
    * Style du placeholder
    */
  /**
    * Style pour l'état désactivé
    */
  /**
    * Modificateur pour les champs validés
    */
  /**
    * Modificateur pour les champs présentant des erreurs
    */
  /**
    * On applique un style lorsque la valeur est automatiquement remplie par le navigateur
    * sur les navigateurs webkit.
    */
}

.fr-input::-webkit-input-placeholder {
  opacity: 1;
  font-style: italic;
  color: var(--text-mention-grey);
}

.fr-input:-moz-placeholder {
  opacity: 1;
  font-style: italic;
  color: var(--text-mention-grey);
}

.fr-input::-moz-placeholder {
  opacity: 1;
  font-style: italic;
  color: var(--text-mention-grey);
}

.fr-input:-ms-input-placeholder {
  opacity: 1;
  font-style: italic;
  color: var(--text-mention-grey);
}

.fr-input:not(textarea) {
  max-height: 2.5rem;
}

.fr-input[type=date] {
  min-height: 2.5rem;
}

.fr-input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

/**
* Ajout d'un wrapper quand on a besoin de mettre une icône
*/
.fr-input-wrap {
  position: relative;
  display: block;
}

/* .fr-input-wrap[class^="fr-fi-"]::before, .fr-input-wrap[class*=" fr-fi-"]::before {
  font-size: 1rem !important;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  bottom: 0.75rem;
  margin: auto;
} */

.fr-input-wrap--addon {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fr-input-wrap.fr-fi-calendar-line > .fr-input[type=date]::-webkit-calendar-picker-indicator {
  display: block;
  margin-right: -2rem;
  z-index: 1;
  opacity: 0;
}

.fr-input-wrap .fr-input {
  padding-right: 2.5rem;
}

.fr-input-wrap > *:first-child:not(:last-child).fr-input {
  padding-right: 1rem;
}

.fr-input-wrap + .fr-hint-text {
  margin-top: 0.5rem;
}

textarea.fr-input {
  min-height: 3.75rem;
}

.fr-input:disabled, .fr-input[disabled] {
  color: var(--text-disabled-grey);
  box-shadow: inset 0 -2px 0 0 var(--border-disabled-grey);
}

.fr-input--valid {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-success);
}

.fr-input--error {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-error);
}

.fr-input:autofill, .fr-input:autofill:hover, .fr-input:autofill:focus, .fr-input:-webkit-autofill, .fr-input:-webkit-autofill:hover, .fr-input:-webkit-autofill:focus {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-grey), inset 0 0 0 1000px var(--background-contrast-info);
  -webkit-text-fill-color: var(--text-label-grey);
}

.fr-input-wrap > *:not(:last-child).fr-input:not(.fr-input--valid):not(.fr-input--error) {
  box-shadow: inset 0 -2px 0 0 var(--border-action-high-blue-france);
}

@media (min-width: 48em) {
  .fr-input-wrap > *:first-child:not(:last-child) {
    border-radius: 0.25rem 0 0 0;
  }
  .fr-input-wrap > *:last-child:not(:first-child) {
    border-radius: 0 0.25rem 0 0;
  }
}
