.fr-btn {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.fr-btn {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1.5rem;
}

.fr-btn:not([class*="fr-btn--icon-"])[class^="fr-fi-"],
.fr-btn:not([class*="fr-btn--icon-"])[class*=" fr-fi-"] {
  flex-direction: row;
  overflow: hidden;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-btn:not([class*="fr-btn--icon-"])[class^="fr-fi-"]::before,
.fr-btn:not([class*="fr-btn--icon-"])[class*=" fr-fi-"]::before {
  margin-left: 0;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.fr-btn--icon-left[class^="fr-fi-"], .fr-btn--icon-left[class*=" fr-fi-"] {
  flex-direction: row;
  overflow: initial;
  max-width: none;
  max-height: none;
}

.fr-btn--icon-left[class^="fr-fi-"]::before,
.fr-btn--icon-left[class*=" fr-fi-"]::before {
  margin-left: -0.25rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.fr-btn--icon-right[class^="fr-fi-"], .fr-btn--icon-right[class*=" fr-fi-"] {
  flex-direction: row-reverse;
  overflow: initial;
  max-width: none;
  max-height: none;
}

.fr-btn--icon-right[class^="fr-fi-"]::before,
.fr-btn--icon-right[class*=" fr-fi-"]::before {
  margin-right: -0.25rem;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.fr-btn--sm {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 1rem;
}

.fr-btn--sm:not([class*="fr-btn--icon-"])[class^="fr-fi-"],
.fr-btn--sm:not([class*="fr-btn--icon-"])[class*=" fr-fi-"] {
  flex-direction: row;
  overflow: hidden;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-btn--sm:not([class*="fr-btn--icon-"])[class^="fr-fi-"]::before,
.fr-btn--sm:not([class*="fr-btn--icon-"])[class*=" fr-fi-"]::before {
  margin-left: 0;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.fr-btn--sm.fr-btn--icon-left[class^="fr-fi-"],
.fr-btn--sm.fr-btn--icon-left[class*=" fr-fi-"] {
  flex-direction: row;
  overflow: initial;
  max-width: none;
  max-height: none;
}

.fr-btn--sm.fr-btn--icon-left[class^="fr-fi-"]::before,
.fr-btn--sm.fr-btn--icon-left[class*=" fr-fi-"]::before {
  margin-left: -0.25rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.fr-btn--sm.fr-btn--icon-right[class^="fr-fi-"],
.fr-btn--sm.fr-btn--icon-right[class*=" fr-fi-"] {
  flex-direction: row-reverse;
  overflow: initial;
  max-width: none;
  max-height: none;
}

.fr-btn--sm.fr-btn--icon-right[class^="fr-fi-"]::before,
.fr-btn--sm.fr-btn--icon-right[class*=" fr-fi-"]::before {
  margin-right: -0.25rem;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.fr-btn--lg {
  font-size: 1.25rem;
  line-height: 2rem;
  min-height: 3.5rem;
  padding: 0.75rem 2rem;
}

.fr-btn--lg:not([class*="fr-btn--icon-"])[class^="fr-fi-"],
.fr-btn--lg:not([class*="fr-btn--icon-"])[class*=" fr-fi-"] {
  flex-direction: row;
  overflow: hidden;
  max-width: 3.5rem;
  max-height: 3.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.fr-btn--lg:not([class*="fr-btn--icon-"])[class^="fr-fi-"]::before,
.fr-btn--lg:not([class*="fr-btn--icon-"])[class*=" fr-fi-"]::before {
  margin-left: 0;
  margin-right: 0.75rem;
  font-size: 2rem;
}

.fr-btn--lg.fr-btn--icon-left[class^="fr-fi-"],
.fr-btn--lg.fr-btn--icon-left[class*=" fr-fi-"] {
  flex-direction: row;
  overflow: initial;
  max-width: none;
  max-height: none;
}

.fr-btn--lg.fr-btn--icon-left[class^="fr-fi-"]::before,
.fr-btn--lg.fr-btn--icon-left[class*=" fr-fi-"]::before {
  margin-left: -0.375rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.fr-btn--lg.fr-btn--icon-right[class^="fr-fi-"],
.fr-btn--lg.fr-btn--icon-right[class*=" fr-fi-"] {
  flex-direction: row-reverse;
  overflow: initial;
  max-width: none;
  max-height: none;
}

.fr-btn--lg.fr-btn--icon-right[class^="fr-fi-"]::before,
.fr-btn--lg.fr-btn--icon-right[class*=" fr-fi-"]::before {
  margin-right: -0.375rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.fr-btn {
  background-color: var(--bf500);
  color: var(--w-bf500);
}

:root:not([data-fr-theme="dark"]) .fr-btn {
  --color-hover: rgba(0, 0, 221, 0.5);
  --color-active: rgba(41, 41, 255, 0.5);
}

:root:not([data-fr-theme="dark"]) [class*="fr-scheme-light"] .fr-btn,
:root:not([data-fr-theme="dark"]) [class*="--scheme-light-"] .fr-btn {
  --color-hover: rgba(0, 0, 221, 0.5);
  --color-active: rgba(41, 41, 255, 0.5);
}

:root:not([data-fr-theme="dark"]) [class*="fr-scheme-dark"] .fr-btn,
:root:not([data-fr-theme="dark"]) [class*="--scheme-dark-"] .fr-btn {
  --color-hover: rgba(71, 71, 255, 0.5);
  --color-active: rgba(0, 0, 243, 0.5);
}

:root[data-fr-theme="dark"] .fr-btn {
  --color-hover: rgba(71, 71, 255, 0.5);
  --color-active: rgba(0, 0, 243, 0.5);
}

button.fr-btn[disabled], a.fr-btn:not([href]) {
  color: var(--g600-g400);
  background-color: var(--g200);
}

.fr-btn--secondary {
  background-color: var(--t-plain);
  color: var(--bf500);
  box-shadow: inset 0 0 0 1px var(--bf500);
}

:root:not([data-fr-theme="dark"]) .fr-btn--secondary {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-fr-theme="dark"]) [class*="fr-scheme-light"] .fr-btn--secondary,
:root:not([data-fr-theme="dark"]) [class*="--scheme-light-"] .fr-btn--secondary {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-fr-theme="dark"]) [class*="fr-scheme-dark"] .fr-btn--secondary,
:root:not([data-fr-theme="dark"]) [class*="--scheme-dark-"] .fr-btn--secondary {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root[data-fr-theme="dark"] .fr-btn--secondary {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

button.fr-btn--secondary[disabled], a.fr-btn--secondary:not([href]) {
  color: var(--g600-g400);
  box-shadow: inset 0 0 0 1px var(--g400);
  background-color: var(--t-plain);
}

@media (hover: hover) and (pointer: fine) {
  .fr-btn:not(a):not(:disabled):hover, a.fr-btn[href]:hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  .fr-btn:not(a):not(:disabled):active, a.fr-btn[href]:active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }
}
