/*!
 * DSFR v1.2.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */

/* ------------------------------------ *\
  PAGINATION
\* ------------------------------------ */
.fr-pagination__link {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
  --text-spacing: 0;
  --title-spacing: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;

  --blend-full-size: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  min-width: 2rem;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  margin-bottom: 1rem;
}

.fr-pagination {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
  color: var(--text-action-high-grey);
}

.fr-pagination__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.fr-pagination__list > *:first-child,
.fr-pagination__list > *:first-child * {
  margin-left: 0;
}

.fr-pagination__list > *:last-child,
.fr-pagination__list > *:last-child * {
  margin-right: 0;
}

.fr-pagination__link[aria-current] {
  cursor: default !important;
  --blend: var(--background-active-blue-france-blend);
  background-color: var(--background-active-blue-france);
  color: var(--text-inverted-blue-france);
}

.fr-pagination__link--first {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

/* .fr-pagination__link--first::before {
  font: normal normal normal 1.5rem/1 dsfr-icon;
  content: "";
  margin-left: 0;
  margin-right: 0.25rem;
  font-size: 1.5rem;
} */

.fr-pagination__link--prev {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

/* .fr-pagination__link--prev::before {
  font: normal normal normal 1.5rem/1 dsfr-icon;
  content: "";
  margin-left: 0;
  margin-right: 0.25rem;
  font-size: 1.5rem;
} */

.fr-pagination__link--next {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

/* .fr-pagination__link--next::before {
  font: normal normal normal 1.5rem/1 dsfr-icon;
  content: "";
  margin-left: 0;
  margin-right: 0.25rem;
  font-size: 1.5rem;
} */

.fr-pagination__link--last {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

/* .fr-pagination__link--last::before {
  font: normal normal normal 1.5rem/1 dsfr-icon;
  content: "";
  margin-left: 0;
  margin-right: 0.25rem;
  font-size: 1.5rem;
} */

.fr-pagination__link--first,
.fr-pagination__link--prev {
  margin-right: 0.875rem;
  margin-left: -0.625rem;
}

.fr-pagination__link--first.fr-pagination__link--label,
.fr-pagination__link--prev.fr-pagination__link--label {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  flex-direction: row;
  overflow: initial;
  max-width: none;
  max-height: none;
}

/* .fr-pagination__link--first.fr-pagination__link--label::before,
.fr-pagination__link--prev.fr-pagination__link--label::before {
  font: normal normal normal 1.5rem/1 dsfr-icon;
  margin-left: -0.375rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
} */

.fr-pagination__link--next,
.fr-pagination__link--last {
  margin-right: -0.625rem;
  margin-left: 0.875rem;
}

.fr-pagination__link--next.fr-pagination__link--label,
.fr-pagination__link--last.fr-pagination__link--label {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  flex-direction: row-reverse;
  overflow: initial;
  max-width: none;
  max-height: none;
}

/* .fr-pagination__link--next.fr-pagination__link--label::before,
.fr-pagination__link--last.fr-pagination__link--label::before {
  font: normal normal normal 1.5rem/1 dsfr-icon;
  margin-right: -0.375rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
} */

.fr-pagination__link:not([aria-current]):disabled,
.fr-pagination__link:not([aria-current])[disabled],
a.fr-pagination__link:not([aria-current]):not([href]) {
  color: var(--text-disabled-grey);
}

@media (min-width: 62em) {
  .fr-pagination__link--first.fr-pagination__link--lg-label,
  .fr-pagination__link--prev.fr-pagination__link--lg-label {
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    flex-direction: row;
    overflow: initial;
    max-width: none;
    max-height: none;
  }

  /* .fr-pagination__link--first.fr-pagination__link--lg-label::before,
  .fr-pagination__link--prev.fr-pagination__link--lg-label::before {
    font: normal normal normal 1.5rem/1 dsfr-icon;
    margin-left: -0.375rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
  } */

  .fr-pagination__link--next.fr-pagination__link--lg-label,
  .fr-pagination__link--last.fr-pagination__link--lg-label {
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    flex-direction: row-reverse;
    overflow: initial;
    max-width: none;
    max-height: none;
  }

  /* .fr-pagination__link--next.fr-pagination__link--lg-label::before,
  .fr-pagination__link--last.fr-pagination__link--lg-label::before {
    font: normal normal normal 1.5rem/1 dsfr-icon;
    margin-right: -0.375rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
  } */
}
