/*!
 * DSFR v1.2.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */

/* ------------------------------------ *\
  ACCORDION
\* ------------------------------------ */
.fr-accordion {
  position: relative;
  box-shadow: inset 0 1px 0 0 var(--border-default-grey), 0 1px 0 0 var(--border-default-grey);
}

.fr-accordion__title {
  margin: 0;
  display: block;
  font-size: unset;
  line-height: unset;
}

.fr-accordion__btn {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
  --text-spacing: 0;
  --title-spacing: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;

  --blend-full-size: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 3rem;
  padding: 0.75rem 1rem;
  flex-direction: row-reverse;
  overflow: initial;
  max-width: none;
  max-height: none;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0.75rem 0;
  color: var(--text-action-high-grey);
}

.fr-accordion__btn::before {
  font: normal normal normal 1.5rem/1 dsfr-icon;
  content: "";
  margin-right: -0.25rem;
  margin-left: 0.25rem;
  font-size: 1rem;
  margin-right: 0;
  margin-left: auto;
}

.fr-accordion__btn[aria-expanded="true"] {
  font-weight: 700;
}

.fr-accordion__btn[aria-expanded="true"]::before {
  content: "";
}

.fr-accordion .fr-collapse {
  --ul-type: "●\00a0\00a0";
  --ol-type: decimal;
  --ul-start: 1rem;
  --ol-start: 1.5rem;
  --xl-block: 0.5rem;
  --li-bottom: 0.25rem;
  --xl-base: 1em;
  --ol-content: counters(li-counter, ".") ".\00a0\00a0";
  transition: visibility 0.3s, padding 0.3s;
}

.fr-accordion .fr-collapse--expanded {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.fr-accordions-group {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
}

@media (min-width: 48em) {
  .fr-accordion__btn {
    padding: 0.75rem 1rem;
  }

  .fr-accordion .fr-collapse {
    margin: 0 -0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
