/*!
 * DSFR v1.2.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */

/* ------------------------------------ *\
  TAG
\* ------------------------------------ */
.fr-tag {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
  --text-spacing: 0;
  --title-spacing: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;

  --blend-full-size: 100%;
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  color: var(--text-label-grey);

  --blend: var(--background-contrast-grey-blend);
  background-color: var(--background-contrast-grey);
}

.fr-tag--icon-left[class^="fr-fi-"],
.fr-tag--icon-left[class*=" fr-fi-"] {
  flex-direction: row;
  overflow: initial;
  max-width: none;
  max-height: none;
}

.fr-tag--icon-left[class^="fr-fi-"]::before,
.fr-tag--icon-left[class*=" fr-fi-"]::before {
  margin-left: -0.25rem;
  margin-right: 0.25rem;
  font-size: 1rem;
}

.fr-tag--icon-right[class^="fr-fi-"],
.fr-tag--icon-right[class*=" fr-fi-"] {
  flex-direction: row-reverse;
  overflow: initial;
  max-width: none;
  max-height: none;
}

.fr-tag--icon-right[class^="fr-fi-"]::before,
.fr-tag--icon-right[class*=" fr-fi-"]::before {
  margin-right: -0.25rem;
  margin-left: 0.25rem;
  font-size: 1rem;
}

.fr-tag--sm {
  font-size: 0.75rem;
  line-height: 1.25rem;
  min-height: 1.5rem;
  padding: 0.125rem 0.5rem;
  border-radius: 0.75rem;
}

.fr-tag--sm.fr-tag--icon-left[class^="fr-fi-"],
.fr-tag--sm.fr-tag--icon-left[class*=" fr-fi-"] {
  flex-direction: row;
  overflow: initial;
  max-width: none;
  max-height: none;
}

.fr-tag--sm.fr-tag--icon-left[class^="fr-fi-"]::before,
.fr-tag--sm.fr-tag--icon-left[class*=" fr-fi-"]::before {
  margin-left: -0.25rem;
  margin-right: 0.25rem;
  font-size: 1rem;
}

.fr-tag--sm.fr-tag--icon-right[class^="fr-fi-"],
.fr-tag--sm.fr-tag--icon-right[class*=" fr-fi-"] {
  flex-direction: row-reverse;
  overflow: initial;
  max-width: none;
  max-height: none;
}

.fr-tag--sm.fr-tag--icon-right[class^="fr-fi-"]::before,
.fr-tag--sm.fr-tag--icon-right[class*=" fr-fi-"]::before {
  margin-right: -0.25rem;
  margin-left: 0.25rem;
  font-size: 1rem;
}

.fr-tags-group {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.fr-tags-group > li {
  display: inline-flex;
}

.fr-tags-group .fr-tag {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.fr-tags-group a.fr-tag,
.fr-tags-group button.fr-tag {
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
}

.fr-tags-group a.fr-tag--sm,
.fr-tags-group button.fr-tag--sm {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

a.fr-tag,
button.fr-tag,
input[type="button"].fr-tag,
input[type="image"].fr-tag,
input[type="reset"].fr-tag,
input[type="submit"].fr-tag {
  color: var(--text-action-high-blue-france);

  --blend: var(--background-action-low-blue-france-blend);
  background-color: var(--background-action-low-blue-france);
}

a.fr-tag:disabled,
a.fr-tag[disabled],
button.fr-tag:disabled,
button.fr-tag[disabled],
input[type="button"].fr-tag:disabled,
input[type="button"].fr-tag[disabled],
input[type="image"].fr-tag:disabled,
input[type="image"].fr-tag[disabled],
input[type="reset"].fr-tag:disabled,
input[type="reset"].fr-tag[disabled],
input[type="submit"].fr-tag:disabled,
input[type="submit"].fr-tag[disabled] {
  color: var(--text-disabled-grey);

  --blend: var(--background-disabled-grey-blend);
  background-color: var(--background-disabled-grey);
}

a.fr-tag--green-tilleul-verveine,
button.fr-tag--green-tilleul-verveine,
input[type="button"].fr-tag--green-tilleul-verveine,
input[type="image"].fr-tag--green-tilleul-verveine,
input[type="reset"].fr-tag--green-tilleul-verveine,
input[type="submit"].fr-tag--green-tilleul-verveine {
  color: var(--text-action-high-green-tilleul-verveine);

  --blend: var(--background-action-low-green-tilleul-verveine-blend);
  background-color: var(--background-action-low-green-tilleul-verveine);
}

a.fr-tag--green-bourgeon,
button.fr-tag--green-bourgeon,
input[type="button"].fr-tag--green-bourgeon,
input[type="image"].fr-tag--green-bourgeon,
input[type="reset"].fr-tag--green-bourgeon,
input[type="submit"].fr-tag--green-bourgeon {
  color: var(--text-action-high-green-bourgeon);

  --blend: var(--background-action-low-green-bourgeon-blend);
  background-color: var(--background-action-low-green-bourgeon);
}

a.fr-tag--green-emeraude,
button.fr-tag--green-emeraude,
input[type="button"].fr-tag--green-emeraude,
input[type="image"].fr-tag--green-emeraude,
input[type="reset"].fr-tag--green-emeraude,
input[type="submit"].fr-tag--green-emeraude {
  color: var(--text-action-high-green-emeraude);

  --blend: var(--background-action-low-green-emeraude-blend);
  background-color: var(--background-action-low-green-emeraude);
}

a.fr-tag--green-menthe,
button.fr-tag--green-menthe,
input[type="button"].fr-tag--green-menthe,
input[type="image"].fr-tag--green-menthe,
input[type="reset"].fr-tag--green-menthe,
input[type="submit"].fr-tag--green-menthe {
  color: var(--text-action-high-green-menthe);

  --blend: var(--background-action-low-green-menthe-blend);
  background-color: var(--background-action-low-green-menthe);
}

a.fr-tag--green-archipel,
button.fr-tag--green-archipel,
input[type="button"].fr-tag--green-archipel,
input[type="image"].fr-tag--green-archipel,
input[type="reset"].fr-tag--green-archipel,
input[type="submit"].fr-tag--green-archipel {
  color: var(--text-action-high-green-archipel);

  --blend: var(--background-action-low-green-archipel-blend);
  background-color: var(--background-action-low-green-archipel);
}

a.fr-tag--blue-ecume,
button.fr-tag--blue-ecume,
input[type="button"].fr-tag--blue-ecume,
input[type="image"].fr-tag--blue-ecume,
input[type="reset"].fr-tag--blue-ecume,
input[type="submit"].fr-tag--blue-ecume {
  color: var(--text-action-high-blue-ecume);

  --blend: var(--background-action-low-blue-ecume-blend);
  background-color: var(--background-action-low-blue-ecume);
}

a.fr-tag--blue-cumulus,
button.fr-tag--blue-cumulus,
input[type="button"].fr-tag--blue-cumulus,
input[type="image"].fr-tag--blue-cumulus,
input[type="reset"].fr-tag--blue-cumulus,
input[type="submit"].fr-tag--blue-cumulus {
  color: var(--text-action-high-blue-cumulus);

  --blend: var(--background-action-low-blue-cumulus-blend);
  background-color: var(--background-action-low-blue-cumulus);
}

a.fr-tag--purple-glycine,
button.fr-tag--purple-glycine,
input[type="button"].fr-tag--purple-glycine,
input[type="image"].fr-tag--purple-glycine,
input[type="reset"].fr-tag--purple-glycine,
input[type="submit"].fr-tag--purple-glycine {
  color: var(--text-action-high-purple-glycine);

  --blend: var(--background-action-low-purple-glycine-blend);
  background-color: var(--background-action-low-purple-glycine);
}

a.fr-tag--pink-macaron,
button.fr-tag--pink-macaron,
input[type="button"].fr-tag--pink-macaron,
input[type="image"].fr-tag--pink-macaron,
input[type="reset"].fr-tag--pink-macaron,
input[type="submit"].fr-tag--pink-macaron {
  color: var(--text-action-high-pink-macaron);

  --blend: var(--background-action-low-pink-macaron-blend);
  background-color: var(--background-action-low-pink-macaron);
}

a.fr-tag--pink-tuile,
button.fr-tag--pink-tuile,
input[type="button"].fr-tag--pink-tuile,
input[type="image"].fr-tag--pink-tuile,
input[type="reset"].fr-tag--pink-tuile,
input[type="submit"].fr-tag--pink-tuile {
  color: var(--text-action-high-pink-tuile);

  --blend: var(--background-action-low-pink-tuile-blend);
  background-color: var(--background-action-low-pink-tuile);
}

a.fr-tag--yellow-tournesol,
button.fr-tag--yellow-tournesol,
input[type="button"].fr-tag--yellow-tournesol,
input[type="image"].fr-tag--yellow-tournesol,
input[type="reset"].fr-tag--yellow-tournesol,
input[type="submit"].fr-tag--yellow-tournesol {
  color: var(--text-action-high-yellow-tournesol);

  --blend: var(--background-action-low-yellow-tournesol-blend);
  background-color: var(--background-action-low-yellow-tournesol);
}

a.fr-tag--yellow-moutarde,
button.fr-tag--yellow-moutarde,
input[type="button"].fr-tag--yellow-moutarde,
input[type="image"].fr-tag--yellow-moutarde,
input[type="reset"].fr-tag--yellow-moutarde,
input[type="submit"].fr-tag--yellow-moutarde {
  color: var(--text-action-high-yellow-moutarde);

  --blend: var(--background-action-low-yellow-moutarde-blend);
  background-color: var(--background-action-low-yellow-moutarde);
}

a.fr-tag--orange-terre-battue,
button.fr-tag--orange-terre-battue,
input[type="button"].fr-tag--orange-terre-battue,
input[type="image"].fr-tag--orange-terre-battue,
input[type="reset"].fr-tag--orange-terre-battue,
input[type="submit"].fr-tag--orange-terre-battue {
  color: var(--text-action-high-orange-terre-battue);

  --blend: var(--background-action-low-orange-terre-battue-blend);
  background-color: var(--background-action-low-orange-terre-battue);
}

a.fr-tag--brown-cafe-creme,
button.fr-tag--brown-cafe-creme,
input[type="button"].fr-tag--brown-cafe-creme,
input[type="image"].fr-tag--brown-cafe-creme,
input[type="reset"].fr-tag--brown-cafe-creme,
input[type="submit"].fr-tag--brown-cafe-creme {
  color: var(--text-action-high-brown-cafe-creme);

  --blend: var(--background-action-low-brown-cafe-creme-blend);
  background-color: var(--background-action-low-brown-cafe-creme);
}

a.fr-tag--brown-caramel,
button.fr-tag--brown-caramel,
input[type="button"].fr-tag--brown-caramel,
input[type="image"].fr-tag--brown-caramel,
input[type="reset"].fr-tag--brown-caramel,
input[type="submit"].fr-tag--brown-caramel {
  color: var(--text-action-high-brown-caramel);

  --blend: var(--background-action-low-brown-caramel-blend);
  background-color: var(--background-action-low-brown-caramel);
}

a.fr-tag--brown-opera,
button.fr-tag--brown-opera,
input[type="button"].fr-tag--brown-opera,
input[type="image"].fr-tag--brown-opera,
input[type="reset"].fr-tag--brown-opera,
input[type="submit"].fr-tag--brown-opera {
  color: var(--text-action-high-brown-opera);

  --blend: var(--background-action-low-brown-opera-blend);
  background-color: var(--background-action-low-brown-opera);
}

a.fr-tag--beige-gris-galet,
button.fr-tag--beige-gris-galet,
input[type="button"].fr-tag--beige-gris-galet,
input[type="image"].fr-tag--beige-gris-galet,
input[type="reset"].fr-tag--beige-gris-galet,
input[type="submit"].fr-tag--beige-gris-galet {
  color: var(--text-action-high-beige-gris-galet);

  --blend: var(--background-action-low-beige-gris-galet-blend);
  background-color: var(--background-action-low-beige-gris-galet);
}
