/*
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
/* ------------------------------------ *\
  TAGS
\* ------------------------------------ */

.fr-tag {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.fr-tag {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
}

.fr-tag--sm {
  font-size: 0.75rem;
  line-height: 1.25rem;
  min-height: 1.5rem;
  padding: 0.125rem 0.5rem;
  border-radius: 0.75rem;
}

.fr-tag {
  color: var(--g800);
  background-color: var(--g200);
}

a.fr-tag, button.fr-tag {
  color: var(--bf500-plain);
  background-color: var(--bf200-bf300);
}

:root:not([data-fr-theme="dark"]) a.fr-tag,
:root:not([data-fr-theme="dark"]) button.fr-tag {
  --color-hover: rgba(172, 172, 255, 0.5);
  --color-active: rgba(107, 107, 255, 0.5);
}

:root:not([data-fr-theme="dark"]) [class*="fr-scheme-light"] a.fr-tag,
:root:not([data-fr-theme="dark"]) [class*="fr-scheme-light"] button.fr-tag,
:root:not([data-fr-theme="dark"]) [class*="--scheme-light-"] a.fr-tag,
:root:not([data-fr-theme="dark"]) [class*="--scheme-light-"] button.fr-tag {
  --color-hover: rgba(172, 172, 255, 0.5);
  --color-active: rgba(107, 107, 255, 0.5);
}

:root:not([data-fr-theme="dark"]) [class*="fr-scheme-dark"] a.fr-tag,
:root:not([data-fr-theme="dark"]) [class*="fr-scheme-dark"] button.fr-tag,
:root:not([data-fr-theme="dark"]) [class*="--scheme-dark-"] a.fr-tag,
:root:not([data-fr-theme="dark"]) [class*="--scheme-dark-"] button.fr-tag {
  --color-hover: rgba(71, 71, 255, 0.5);
  --color-active: rgba(0, 0, 243, 0.5);
}

:root[data-fr-theme="dark"] a.fr-tag, button.fr-tag {
  --color-hover: rgba(71, 71, 255, 0.5);
  --color-active: rgba(0, 0, 243, 0.5);
}

button.fr-tag[disabled], a.fr-tag:not([href]) {
  color: var(--g600-g400);
  background-color: var(--g200);
}

@media (hover: hover) and (pointer: fine) {
  a.fr-tag:not(a):not(:disabled):hover, a.fr-tag[href]:hover,
  button.fr-tag:not(a):not(:disabled):hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  a.fr-tag:not(a):not(:disabled):active, a.fr-tag[href]:active,
  button.fr-tag:not(a):not(:disabled):active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }
}
