.sbdocs-a {
  color: #000091 !important;
  outline-color: #000091 !important;
  --link-underline: 0;
  --link-blank-content: "";
  text-decoration: none;
  background-image: none;
}

.sbdocs-a:hover {
  text-decoration: underline;
}

.sbdocs-a[href] {
  -webkit-box-shadow: none;
  box-shadow: none;
}

[data-fr-theme="dark"] .docs-story {
  background-color: var(--background-default-grey);
}
