/* ------------------------------------ *\
  CORE
\* ------------------------------------ */

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

body {
  font-family: "Marianne", arial, sans-serif;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: var(--w);
  --block-color-hover: rgba(224, 224, 224, 0.5);
  --block-color-active: rgba(194, 194, 194, 0.5);
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

:root[data-fr-scheme="dark"] body {
  --block-color-hover: rgba(65, 65, 65, 0.5);
  --block-color-active: rgba(99, 99, 99, 0.5);
}

:root[data-fr-transition] body {
  transition: background-color 0.3s;
}

button, input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  border: none;
}

h6 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin: 0 0 1rem;
}

h5 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0 0 1rem;
}

h4 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.75rem;
  margin: 0 0 1rem;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1rem;
}

h2 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin: 0 0 1rem;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0 0 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 2.5rem;
}

:root {
  --link-underline: 0 1px 0 0 currentColor;
  --link-blank-font: normal normal normal 1rem/1 dsfr-icons;
  --link-blank-content: "\00a0";
}

a {
  text-decoration: none;
  color: inherit;
}

[href] {
  box-shadow: var(--link-underline);
}

[target="_blank"]::after {
  content: var(--link-blank-content);
  font: var(--link-blank-font);
}

.fr-enlarge-link {
  position: relative;
}

.fr-enlarge-link a {
  outline-width: 0 !important;
}

.fr-enlarge-link a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline-offset: 2px;
  outline-style: inherit;
  outline-color: inherit;
  outline-width: 2px;
  z-index: 1;
}

.fr-raw-link {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
}

.fr-reset-link {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
  text-decoration: underline;
  text-underline-offset: 2px;
}

:root {
  --ul-type: "●\00a0\00a0";
  --ol-type: decimal;
  --ul-start: 1rem;
  --ol-start: 1.5rem;
  --xl-block: 0.5rem;
  --li-bottom: 0.25rem;
  --xl-base: 1em;
  --ol-content: counters(li-counter, ".") ".\00a0\00a0";
}

ul, ol {
  margin: 0;
  padding: 0;
  margin-block-start: var(--xl-block);
  margin-block-end: var(--xl-block);
  --xl-size: var(--xl-base);
}

ul {
  list-style-type: var(--ul-type);
  padding-inline-start: var(--ul-start);
}

ul > li::marker {
  font-size: calc(var(--xl-size) * 0.9);
}

ol {
  list-style-type: var(--ol-type);
  padding-inline-start: var(--ol-start);
  counter-reset: li-counter;
}

ol > li {
  counter-increment: li-counter;
}

ol > li::marker {
  content: var(--ol-content);
  font-size: var(--xl-size);
  font-weight: bold;
}

li {
  --xl-base: calc(var(--xl-size) * 0.9);
  padding-bottom: var(--li-bottom);
}

.fr-raw-list {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
}

.fr-list {
  --ul-type: "●\00a0\00a0";
  --ol-type: decimal;
  --ul-start: 1rem;
  --ol-start: 1.5rem;
  --xl-block: 0.5rem;
  --li-bottom: 0.25rem;
  --xl-base: 1em;
  --ol-content: counters(li-counter, ".") ".\00a0\00a0";
}

*:focus, *:focus-visible {
  z-index: 2000;
}

a {
  outline-offset: 2px;
  outline-width: 2px;
}

/* a:focus {
  outline-style: solid;
} */

/* a:focus:not(:focus-visible) {
  outline-style: none;
} */

a:focus-visible {
  outline-style: solid;
}

a {
  cursor: pointer;
}

a:not([href]) {
  outline-style: none;
}

a:not([href]) {
  cursor: not-allowed;
}

button {
  outline-offset: 2px;
  outline-width: 2px;
}

/* button:focus {
  outline-style: solid;
} */

/* button:focus:not(:focus-visible) {
  outline-style: none;
} */

button:focus-visible {
  outline-style: solid;
}

button:enabled {
  cursor: pointer;
}

button:disabled {
  outline-style: none;
}

button:disabled {
  cursor: not-allowed;
}

input {
  outline-offset: 2px;
  outline-width: 2px;
}

/* input:focus {
  outline-style: solid;
} */

/* input:focus:not(:focus-visible) {
  outline-style: none;
} */

input:focus-visible {
  outline-style: solid;
}

input:disabled {
  outline-style: none;
}

input:disabled {
  cursor: not-allowed;
}

input[type="checkbox"] + label::before, input[type="radio"] + label::before {
  outline-offset: 2px;
  outline-width: 2px;
}

/* input[type="checkbox"]:focus + label::before,
input[type="radio"]:focus + label::before {
  outline-style: solid;
} */

/* input[type="checkbox"]:focus:not(:focus-visible) + label::before,
input[type="radio"]:focus:not(:focus-visible) + label::before {
  outline-style: none;
} */

input[type="checkbox"]:focus-visible + label::before,
input[type="radio"]:focus-visible + label::before {
  outline-style: solid;
}

input[type="checkbox"]:enabled, input[type="checkbox"]:enabled + label,
input[type="radio"]:enabled, input[type="radio"]:enabled + label {
  cursor: pointer;
}

input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
  outline-style: none;
}

input[type="checkbox"]:disabled, input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled, input[type="radio"]:disabled + label {
  cursor: not-allowed;
}

input[type="button"]:enabled, input[type="color"]:enabled,
input[type="date"]:enabled, input[type="datetime-local"]:enabled,
input[type="file"]:enabled, input[type="image"]:enabled,
input[type="month"]:enabled, input[type="range"]:enabled,
input[type="reset"]:enabled, input[type="submit"]:enabled,
input[type="time"]:enabled, input[type="week"]:enabled {
  cursor: pointer;
}

select {
  outline-offset: 2px;
  outline-width: 2px;
}

/* select:focus {
  outline-style: solid;
} */

/* select:focus:not(:focus-visible) {
  outline-style: none;
} */

select:focus-visible {
  outline-style: solid;
}

select:enabled {
  cursor: pointer;
}

select:disabled {
  outline-style: none;
}

select:disabled {
  cursor: not-allowed;
}

textarea {
  outline-offset: 2px;
  outline-width: 2px;
}

/* textarea:focus {
  outline-style: solid;
} */

/* textarea:focus:not(:focus-visible) {
  outline-style: none;
} */

textarea:focus-visible {
  outline-style: solid;
}

textarea:disabled {
  outline-style: none;
}

textarea:disabled {
  cursor: not-allowed;
}

[tabindex] {
  outline-offset: 2px;
  outline-width: 2px;
}

/* [tabindex]:focus {
  outline-style: solid;
} */

/* [tabindex]:focus:not(:focus-visible) {
  outline-style: none;
} */

[tabindex]:focus-visible {
  outline-style: solid;
}

[tabindex][tabindex="-1"] {
  outline-style: none;
}

video[controls], audio[controls] {
  outline-offset: 2px;
  outline-width: 2px;
}

/* video:focus[controls], audio:focus[controls] {
  outline-style: solid;
} */

/* video:focus:not(:focus-visible)[controls],
audio:focus:not(:focus-visible)[controls] {
  outline-style: none;
} */

video:focus-visible[controls], audio:focus-visible[controls] {
  outline-style: solid;
}

video, audio {
  cursor: pointer;
}

video:not([href])[controls], audio:not([href])[controls] {
  outline-style: none;
}

video:not([href]), audio:not([href]) {
  cursor: not-allowed;
}

[contenteditable]:not([contenteditable="false"]) {
  outline-offset: 2px;
  outline-width: 2px;
}

[contenteditable]:not([contenteditable="false"]):focus {
  outline-style: solid;
}

/* [contenteditable]:not([contenteditable="false"]):focus:not(:focus-visible) {
  outline-style: none;
} */

[contenteditable]:not([contenteditable="false"]):focus-visible {
  outline-style: solid;
}

details, details > summary:first-of-type {
  outline-offset: 2px;
  outline-width: 2px;
}

/* details:focus, details > summary:first-of-type:focus {
  outline-style: solid;
} */

/* details:focus:not(:focus-visible),
details > summary:first-of-type:focus:not(:focus-visible) {
  outline-style: none;
} */

details:focus-visible, details > summary:first-of-type:focus-visible {
  outline-style: solid;
}

details, details > summary:first-of-type {
  cursor: pointer;
}

input, select, textarea {
  font-family: "Marianne", arial, sans-serif;
  text-rendering: optimizeSpeed;
}

.fr-hidden {
  display: none !important;
}

.fr-displayed-xs {
  display: none !important;
}

.fr-displayed-sm {
  display: none !important;
}

.fr-displayed-md {
  display: none !important;
}

.fr-displayed-lg {
  display: none !important;
}

.fr-displayed-xl {
  display: none !important;
}

/**
* Fixe le scroll en arrière plan
*/

:root.fr-no-scroll body {
  overflow: hidden;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.fr-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.fr-no-before::before {
  content: none;
}

.fr-no-after::after {
  content: none;
}

.fr-text--light {
  font-weight: 300 !important;
}

.fr-text--regular {
  font-weight: 400 !important;
}

.fr-text--bold {
  font-weight: 700 !important;
}

.fr-text--xx-bold {
  font-weight: 900 !important;
}

.fr-h6 {
  font-weight: 700 !important;
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
  margin: 0 0 1rem;
}

.fr-h5 {
  font-weight: 700 !important;
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
  margin: 0 0 1rem;
}

.fr-h4 {
  font-weight: 700 !important;
  font-size: 1.375rem !important;
  line-height: 1.75rem !important;
  margin: 0 0 1rem;
}

.fr-h3 {
  font-weight: 700 !important;
  font-size: 1.5rem !important;
  line-height: 2rem !important;
  margin: 0 0 1rem;
}

.fr-h2 {
  font-weight: 700 !important;
  font-size: 1.75rem !important;
  line-height: 2.25rem !important;
  margin: 0 0 1rem;
}

.fr-h1 {
  font-weight: 700 !important;
  font-size: 2rem !important;
  line-height: 2.5rem !important;
  margin: 0 0 1rem;
}

.fr-display-xs {
  font-weight: 700 !important;
  font-size: 2.5rem !important;
  line-height: 3rem !important;
  margin: 0 0 2rem;
}

.fr-display-sm {
  font-weight: 700 !important;
  font-size: 3rem !important;
  line-height: 3.5rem !important;
  margin: 0 0 2rem;
}

.fr-display-md {
  font-weight: 700 !important;
  font-size: 3.5rem !important;
  line-height: 4rem !important;
  margin: 0 0 2rem;
}

.fr-display-lg {
  font-weight: 700 !important;
  font-size: 4rem !important;
  line-height: 4.5rem !important;
  margin: 0 0 2rem;
}

.fr-display-xl {
  font-weight: 700 !important;
  font-size: 4.5rem !important;
  line-height: 5rem !important;
  margin: 0 0 2rem;
}

.fr-text--xs {
  font-size: 0.75rem !important;
  line-height: 1.25rem !important;
  margin: 0 0 2.5rem;
}

.fr-text--sm {
  font-size: 0.875rem !important;
  line-height: 1.5rem !important;
  margin: 0 0 2.5rem;
}

.fr-text {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  margin: 0 0 2.5rem;
}

.fr-text--lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  margin: 0 0 2.5rem;
}

.fr-text--xl, .fr-text--lead {
  font-size: 1.25rem !important;
  line-height: 2rem !important;
  margin: 0 0 3rem;
}

.fr-text--alt {
  font-family: "Spectral", georgia, serif !important;
}

.fr-grid-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.fr-grid-row--top {
  align-items: flex-start;
}

.fr-grid-row--bottom {
  align-items: flex-end;
}

.fr-grid-row--middle {
  align-items: center;
}

.fr-grid-row--left {
  justify-content: flex-start;
}

.fr-grid-row--right {
  justify-content: flex-end;
}

.fr-grid-row--center {
  justify-content: center;
}

.fr-col--top {
  align-self: flex-start;
}

.fr-col--bottom {
  align-self: flex-end;
}

.fr-col--middle {
  align-self: center;
}

.fr-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.fr-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.fr-container--fluid {
  padding-left: 0;
  padding-right: 0;
  max-width: none;
}

.fr-grid-row--gutters {
  margin: -0.5rem;
}

.fr-grid-row--gutters > [class^="fr-col-"],
.fr-grid-row--gutters > [class*=" fr-col-"], .fr-grid-row--gutters > .fr-col {
  padding: 0.5rem;
}

.fr-grid-row--no-gutters {
  margin: 0;
}

.fr-grid-row--no-gutters > [class^="fr-col-"],
.fr-grid-row--no-gutters > [class*=" fr-col-"],
.fr-grid-row--no-gutters > .fr-col {
  padding: 0;
}

.fr-col {
  flex: 1;
}

.fr-col-1 {
  flex: 0 0 calc(100% / 12);
  width: calc(100% / 12);
  max-width: calc(100% / 12);
}

.fr-col-offset-1:not(.fr-col-offset-1--right) {
  margin-left: calc(100% / 12);
}

.fr-col-offset-1--right {
  margin-right: calc(100% / 12);
}

.fr-col-2 {
  flex: 0 0 calc(200% / 12);
  width: calc(200% / 12);
  max-width: calc(200% / 12);
}

.fr-col-offset-2:not(.fr-col-offset-1--right) {
  margin-left: calc(200% / 12);
}

.fr-col-offset-2--right {
  margin-right: calc(200% / 12);
}

.fr-col-3 {
  flex: 0 0 calc(300% / 12);
  width: calc(300% / 12);
  max-width: calc(300% / 12);
}

.fr-col-offset-3:not(.fr-col-offset-1--right) {
  margin-left: calc(300% / 12);
}

.fr-col-offset-3--right {
  margin-right: calc(300% / 12);
}

.fr-col-4 {
  flex: 0 0 calc(400% / 12);
  width: calc(400% / 12);
  max-width: calc(400% / 12);
}

.fr-col-offset-4:not(.fr-col-offset-1--right) {
  margin-left: calc(400% / 12);
}

.fr-col-offset-4--right {
  margin-right: calc(400% / 12);
}

.fr-col-5 {
  flex: 0 0 calc(500% / 12);
  width: calc(500% / 12);
  max-width: calc(500% / 12);
}

.fr-col-offset-5:not(.fr-col-offset-1--right) {
  margin-left: calc(500% / 12);
}

.fr-col-offset-5--right {
  margin-right: calc(500% / 12);
}

.fr-col-6 {
  flex: 0 0 calc(600% / 12);
  width: calc(600% / 12);
  max-width: calc(600% / 12);
}

.fr-col-offset-6:not(.fr-col-offset-1--right) {
  margin-left: calc(600% / 12);
}

.fr-col-offset-6--right {
  margin-right: calc(600% / 12);
}

.fr-col-7 {
  flex: 0 0 calc(700% / 12);
  width: calc(700% / 12);
  max-width: calc(700% / 12);
}

.fr-col-offset-7:not(.fr-col-offset-1--right) {
  margin-left: calc(700% / 12);
}

.fr-col-offset-7--right {
  margin-right: calc(700% / 12);
}

.fr-col-8 {
  flex: 0 0 calc(800% / 12);
  width: calc(800% / 12);
  max-width: calc(800% / 12);
}

.fr-col-offset-8:not(.fr-col-offset-1--right) {
  margin-left: calc(800% / 12);
}

.fr-col-offset-8--right {
  margin-right: calc(800% / 12);
}

.fr-col-9 {
  flex: 0 0 calc(900% / 12);
  width: calc(900% / 12);
  max-width: calc(900% / 12);
}

.fr-col-offset-9:not(.fr-col-offset-1--right) {
  margin-left: calc(900% / 12);
}

.fr-col-offset-9--right {
  margin-right: calc(900% / 12);
}

.fr-col-10 {
  flex: 0 0 calc(1000% / 12);
  width: calc(1000% / 12);
  max-width: calc(1000% / 12);
}

.fr-col-offset-10:not(.fr-col-offset-1--right) {
  margin-left: calc(1000% / 12);
}

.fr-col-offset-10--right {
  margin-right: calc(1000% / 12);
}

.fr-col-11 {
  flex: 0 0 calc(1100% / 12);
  width: calc(1100% / 12);
  max-width: calc(1100% / 12);
}

.fr-col-offset-11:not(.fr-col-offset-1--right) {
  margin-left: calc(1100% / 12);
}

.fr-col-offset-11--right {
  margin-right: calc(1100% / 12);
}

.fr-col-12 {
  flex: 0 0 calc(1200% / 12);
  width: calc(1200% / 12);
  max-width: calc(1200% / 12);
}

.fr-col-offset-12:not(.fr-col-offset-1--right) {
  margin-left: calc(1200% / 12);
}

.fr-col-offset-12--right {
  margin-right: calc(1200% / 12);
}

.fr-responsive-img {
  width: 100%;
  height: auto;
}

.fr-responsive-vid {
  position: relative;
  width: 100%;
}

.fr-responsive-vid::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
}

.fr-responsive-vid--4x3::before {
  content: "";
  display: block;
  padding-bottom: 75%;
}

.fr-responsive-vid--1x1::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.fr-responsive-vid__player, .fr-responsive-vid > .fr-consent-placeholder {
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.fr-collapse {
  overflow: hidden;
  transition: visibility 0.3s;
  max-height: 0;
  --collapse: -99999px;
  --collapser: '';
}

.fr-collapse::before {
  display: block;
  content: '';
  content: var(--collapser);
  transition: margin-top 0.3s;
  margin-top: 0;
}

.fr-collapse:not(.fr-collapse--expanded) {
  visibility: hidden;
}

.fr-collapse:not(.fr-collapse--expanded)::before {
  margin-top: -99999px;
  margin-top: var(--collapse);
}

body {
  background-color: var(--w);
  --block-color-hover: rgba(224, 224, 224, 0.5);
  --block-color-active: rgba(194, 194, 194, 0.5);
  color: var(--g700);
}

:root[data-fr-scheme="dark"] body {
  --block-color-hover: rgba(65, 65, 65, 0.5);
  --block-color-active: rgba(99, 99, 99, 0.5);
}

:root[data-fr-transition] body {
  transition: background-color 0.3s;
}

a {
  outline-color: var(--focus);
}

button {
  outline-color: var(--focus);
}

input {
  outline-color: var(--focus);
}

input[type="checkbox"] + label::before, input[type="radio"] + label::before {
  outline-color: var(--focus);
}

select {
  outline-color: var(--focus);
}

textarea {
  outline-color: var(--focus);
}

[tabindex] {
  outline-color: var(--focus);
}

video[controls], audio[controls] {
  outline-color: var(--focus);
}

[contenteditable]:not([contenteditable="false"]) {
  outline-color: var(--focus);
}

details, details > summary:first-of-type {
  outline-color: var(--focus);
}

@media (min-width: 0) {
  .fr-hidden-xs {
    display: none !important;
  }

  .fr-displayed-xs {
    display: inherit !important;
  }

  .fr-sr-only-xs {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
  }
}

@media (min-width: 36em) {
  .fr-hidden-sm {
    display: none !important;
  }

  .fr-displayed-sm {
    display: inherit !important;
  }

  .fr-sr-only-sm {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
  }

  .fr-container-sm {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .fr-container-sm--fluid {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  }

  .fr-grid-row-sm--gutters {
    margin: -0.5rem;
  }

  .fr-grid-row-sm--gutters > [class^="fr-col-"],
  .fr-grid-row-sm--gutters > [class*=" fr-col-"],
  .fr-grid-row-sm--gutters > .fr-col {
    padding: 0.5rem;
  }

  .fr-grid-row-sm--no-gutters {
    margin: 0;
  }

  .fr-grid-row-sm--no-gutters > [class^="fr-col-"],
  .fr-grid-row-sm--no-gutters > [class*=" fr-col-"],
  .fr-grid-row-sm--no-gutters > .fr-col {
    padding: 0;
  }

  .fr-col-sm {
    flex: 1;
  }

  .fr-col-sm-1 {
    flex: 0 0 calc(100% / 12);
    width: calc(100% / 12);
    max-width: calc(100% / 12);
  }

  .fr-col-offset-sm-1:not(.fr-col-offset-1--right) {
    margin-left: calc(100% / 12);
  }

  .fr-col-offset-sm-1--right {
    margin-right: calc(100% / 12);
  }

  .fr-col-sm-2 {
    flex: 0 0 calc(200% / 12);
    width: calc(200% / 12);
    max-width: calc(200% / 12);
  }

  .fr-col-offset-sm-2:not(.fr-col-offset-1--right) {
    margin-left: calc(200% / 12);
  }

  .fr-col-offset-sm-2--right {
    margin-right: calc(200% / 12);
  }

  .fr-col-sm-3 {
    flex: 0 0 calc(300% / 12);
    width: calc(300% / 12);
    max-width: calc(300% / 12);
  }

  .fr-col-offset-sm-3:not(.fr-col-offset-1--right) {
    margin-left: calc(300% / 12);
  }

  .fr-col-offset-sm-3--right {
    margin-right: calc(300% / 12);
  }

  .fr-col-sm-4 {
    flex: 0 0 calc(400% / 12);
    width: calc(400% / 12);
    max-width: calc(400% / 12);
  }

  .fr-col-offset-sm-4:not(.fr-col-offset-1--right) {
    margin-left: calc(400% / 12);
  }

  .fr-col-offset-sm-4--right {
    margin-right: calc(400% / 12);
  }

  .fr-col-sm-5 {
    flex: 0 0 calc(500% / 12);
    width: calc(500% / 12);
    max-width: calc(500% / 12);
  }

  .fr-col-offset-sm-5:not(.fr-col-offset-1--right) {
    margin-left: calc(500% / 12);
  }

  .fr-col-offset-sm-5--right {
    margin-right: calc(500% / 12);
  }

  .fr-col-sm-6 {
    flex: 0 0 calc(600% / 12);
    width: calc(600% / 12);
    max-width: calc(600% / 12);
  }

  .fr-col-offset-sm-6:not(.fr-col-offset-1--right) {
    margin-left: calc(600% / 12);
  }

  .fr-col-offset-sm-6--right {
    margin-right: calc(600% / 12);
  }

  .fr-col-sm-7 {
    flex: 0 0 calc(700% / 12);
    width: calc(700% / 12);
    max-width: calc(700% / 12);
  }

  .fr-col-offset-sm-7:not(.fr-col-offset-1--right) {
    margin-left: calc(700% / 12);
  }

  .fr-col-offset-sm-7--right {
    margin-right: calc(700% / 12);
  }

  .fr-col-sm-8 {
    flex: 0 0 calc(800% / 12);
    width: calc(800% / 12);
    max-width: calc(800% / 12);
  }

  .fr-col-offset-sm-8:not(.fr-col-offset-1--right) {
    margin-left: calc(800% / 12);
  }

  .fr-col-offset-sm-8--right {
    margin-right: calc(800% / 12);
  }

  .fr-col-sm-9 {
    flex: 0 0 calc(900% / 12);
    width: calc(900% / 12);
    max-width: calc(900% / 12);
  }

  .fr-col-offset-sm-9:not(.fr-col-offset-1--right) {
    margin-left: calc(900% / 12);
  }

  .fr-col-offset-sm-9--right {
    margin-right: calc(900% / 12);
  }

  .fr-col-sm-10 {
    flex: 0 0 calc(1000% / 12);
    width: calc(1000% / 12);
    max-width: calc(1000% / 12);
  }

  .fr-col-offset-sm-10:not(.fr-col-offset-1--right) {
    margin-left: calc(1000% / 12);
  }

  .fr-col-offset-sm-10--right {
    margin-right: calc(1000% / 12);
  }

  .fr-col-sm-11 {
    flex: 0 0 calc(1100% / 12);
    width: calc(1100% / 12);
    max-width: calc(1100% / 12);
  }

  .fr-col-offset-sm-11:not(.fr-col-offset-1--right) {
    margin-left: calc(1100% / 12);
  }

  .fr-col-offset-sm-11--right {
    margin-right: calc(1100% / 12);
  }

  .fr-col-sm-12 {
    flex: 0 0 calc(1200% / 12);
    width: calc(1200% / 12);
    max-width: calc(1200% / 12);
  }

  .fr-col-offset-sm-12:not(.fr-col-offset-1--right) {
    margin-left: calc(1200% / 12);
  }

  .fr-col-offset-sm-12--right {
    margin-right: calc(1200% / 12);
  }
}

@media (min-width: 48em) {
  h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h5 {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .fr-hidden-md {
    display: none !important;
  }

  .fr-displayed-md {
    display: inherit !important;
  }

  .fr-sr-only-md {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
  }

  .fr-h6 {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }

  .fr-h5 {
    font-size: 1.375rem !important;
    line-height: 1.75rem !important;
  }

  .fr-h4 {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }

  .fr-h3 {
    font-size: 1.75rem !important;
    line-height: 2.25rem !important;
  }

  .fr-h2 {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }

  .fr-h1 {
    font-size: 2.5rem !important;
    line-height: 3rem !important;
  }

  .fr-display-xs {
    font-size: 3rem !important;
    line-height: 3.5rem !important;
  }

  .fr-display-sm {
    font-size: 3.5rem !important;
    line-height: 4rem !important;
  }

  .fr-display-md {
    font-size: 4rem !important;
    line-height: 4.5rem !important;
  }

  .fr-display-lg {
    font-size: 4.5rem !important;
    line-height: 5rem !important;
  }

  .fr-display-xl {
    font-size: 5rem !important;
    line-height: 5.5rem !important;
  }

  .fr-text--lg {
    font-size: 1.25rem !important;
    line-height: 2rem !important;
  }

  .fr-text--xl, .fr-text--lead {
    font-size: 1.375rem !important;
    line-height: 2.25rem !important;
  }

  .fr-container-md {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .fr-container-md--fluid {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  }

  .fr-grid-row-md--gutters {
    margin: -0.5rem;
  }

  .fr-grid-row-md--gutters > [class^="fr-col-"],
  .fr-grid-row-md--gutters > [class*=" fr-col-"],
  .fr-grid-row-md--gutters > .fr-col {
    padding: 0.5rem;
  }

  .fr-grid-row-md--no-gutters {
    margin: 0;
  }

  .fr-grid-row-md--no-gutters > [class^="fr-col-"],
  .fr-grid-row-md--no-gutters > [class*=" fr-col-"],
  .fr-grid-row-md--no-gutters > .fr-col {
    padding: 0;
  }

  .fr-col-md {
    flex: 1;
  }

  .fr-col-md-1 {
    flex: 0 0 calc(100% / 12);
    width: calc(100% / 12);
    max-width: calc(100% / 12);
  }

  .fr-col-offset-md-1:not(.fr-col-offset-1--right) {
    margin-left: calc(100% / 12);
  }

  .fr-col-offset-md-1--right {
    margin-right: calc(100% / 12);
  }

  .fr-col-md-2 {
    flex: 0 0 calc(200% / 12);
    width: calc(200% / 12);
    max-width: calc(200% / 12);
  }

  .fr-col-offset-md-2:not(.fr-col-offset-1--right) {
    margin-left: calc(200% / 12);
  }

  .fr-col-offset-md-2--right {
    margin-right: calc(200% / 12);
  }

  .fr-col-md-3 {
    flex: 0 0 calc(300% / 12);
    width: calc(300% / 12);
    max-width: calc(300% / 12);
  }

  .fr-col-offset-md-3:not(.fr-col-offset-1--right) {
    margin-left: calc(300% / 12);
  }

  .fr-col-offset-md-3--right {
    margin-right: calc(300% / 12);
  }

  .fr-col-md-4 {
    flex: 0 0 calc(400% / 12);
    width: calc(400% / 12);
    max-width: calc(400% / 12);
  }

  .fr-col-offset-md-4:not(.fr-col-offset-1--right) {
    margin-left: calc(400% / 12);
  }

  .fr-col-offset-md-4--right {
    margin-right: calc(400% / 12);
  }

  .fr-col-md-5 {
    flex: 0 0 calc(500% / 12);
    width: calc(500% / 12);
    max-width: calc(500% / 12);
  }

  .fr-col-offset-md-5:not(.fr-col-offset-1--right) {
    margin-left: calc(500% / 12);
  }

  .fr-col-offset-md-5--right {
    margin-right: calc(500% / 12);
  }

  .fr-col-md-6 {
    flex: 0 0 calc(600% / 12);
    width: calc(600% / 12);
    max-width: calc(600% / 12);
  }

  .fr-col-offset-md-6:not(.fr-col-offset-1--right) {
    margin-left: calc(600% / 12);
  }

  .fr-col-offset-md-6--right {
    margin-right: calc(600% / 12);
  }

  .fr-col-md-7 {
    flex: 0 0 calc(700% / 12);
    width: calc(700% / 12);
    max-width: calc(700% / 12);
  }

  .fr-col-offset-md-7:not(.fr-col-offset-1--right) {
    margin-left: calc(700% / 12);
  }

  .fr-col-offset-md-7--right {
    margin-right: calc(700% / 12);
  }

  .fr-col-md-8 {
    flex: 0 0 calc(800% / 12);
    width: calc(800% / 12);
    max-width: calc(800% / 12);
  }

  .fr-col-offset-md-8:not(.fr-col-offset-1--right) {
    margin-left: calc(800% / 12);
  }

  .fr-col-offset-md-8--right {
    margin-right: calc(800% / 12);
  }

  .fr-col-md-9 {
    flex: 0 0 calc(900% / 12);
    width: calc(900% / 12);
    max-width: calc(900% / 12);
  }

  .fr-col-offset-md-9:not(.fr-col-offset-1--right) {
    margin-left: calc(900% / 12);
  }

  .fr-col-offset-md-9--right {
    margin-right: calc(900% / 12);
  }

  .fr-col-md-10 {
    flex: 0 0 calc(1000% / 12);
    width: calc(1000% / 12);
    max-width: calc(1000% / 12);
  }

  .fr-col-offset-md-10:not(.fr-col-offset-1--right) {
    margin-left: calc(1000% / 12);
  }

  .fr-col-offset-md-10--right {
    margin-right: calc(1000% / 12);
  }

  .fr-col-md-11 {
    flex: 0 0 calc(1100% / 12);
    width: calc(1100% / 12);
    max-width: calc(1100% / 12);
  }

  .fr-col-offset-md-11:not(.fr-col-offset-1--right) {
    margin-left: calc(1100% / 12);
  }

  .fr-col-offset-md-11--right {
    margin-right: calc(1100% / 12);
  }

  .fr-col-md-12 {
    flex: 0 0 calc(1200% / 12);
    width: calc(1200% / 12);
    max-width: calc(1200% / 12);
  }

  .fr-col-offset-md-12:not(.fr-col-offset-1--right) {
    margin-left: calc(1200% / 12);
  }

  .fr-col-offset-md-12--right {
    margin-right: calc(1200% / 12);
  }
}

@media (min-width: 62em) {
  .fr-hidden-lg {
    display: none !important;
  }

  .fr-displayed-lg {
    display: inherit !important;
  }

  .fr-sr-only-lg {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
  }

  .fr-container, .fr-container-sm, .fr-container-md {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .fr-container-lg {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .fr-container-lg--fluid {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  }

  .fr-grid-row--gutters, .fr-grid-row-sm--gutters, .fr-grid-row-md--gutters {
    margin: -0.75rem;
  }

  .fr-grid-row--gutters > [class^="fr-col-"],
  .fr-grid-row--gutters > [class*=" fr-col-"], .fr-grid-row--gutters > .fr-col,
  .fr-grid-row-sm--gutters > [class^="fr-col-"],
  .fr-grid-row-sm--gutters > [class*=" fr-col-"],
  .fr-grid-row-sm--gutters > .fr-col,
  .fr-grid-row-md--gutters > [class^="fr-col-"],
  .fr-grid-row-md--gutters > [class*=" fr-col-"],
  .fr-grid-row-md--gutters > .fr-col {
    padding: 0.75rem;
  }

  .fr-grid-row-lg--gutters {
    margin: -0.75rem;
  }

  .fr-grid-row-lg--gutters > [class^="fr-col-"],
  .fr-grid-row-lg--gutters > [class*=" fr-col-"],
  .fr-grid-row-lg--gutters > .fr-col {
    padding: 0.75rem;
  }

  .fr-grid-row-lg--no-gutters {
    margin: 0;
  }

  .fr-grid-row-lg--no-gutters > [class^="fr-col-"],
  .fr-grid-row-lg--no-gutters > [class*=" fr-col-"],
  .fr-grid-row-lg--no-gutters > .fr-col {
    padding: 0;
  }

  .fr-col-lg {
    flex: 1;
  }

  .fr-col-lg-1 {
    flex: 0 0 calc(100% / 12);
    width: calc(100% / 12);
    max-width: calc(100% / 12);
  }

  .fr-col-offset-lg-1:not(.fr-col-offset-1--right) {
    margin-left: calc(100% / 12);
  }

  .fr-col-offset-lg-1--right {
    margin-right: calc(100% / 12);
  }

  .fr-col-lg-2 {
    flex: 0 0 calc(200% / 12);
    width: calc(200% / 12);
    max-width: calc(200% / 12);
  }

  .fr-col-offset-lg-2:not(.fr-col-offset-1--right) {
    margin-left: calc(200% / 12);
  }

  .fr-col-offset-lg-2--right {
    margin-right: calc(200% / 12);
  }

  .fr-col-lg-3 {
    flex: 0 0 calc(300% / 12);
    width: calc(300% / 12);
    max-width: calc(300% / 12);
  }

  .fr-col-offset-lg-3:not(.fr-col-offset-1--right) {
    margin-left: calc(300% / 12);
  }

  .fr-col-offset-lg-3--right {
    margin-right: calc(300% / 12);
  }

  .fr-col-lg-4 {
    flex: 0 0 calc(400% / 12);
    width: calc(400% / 12);
    max-width: calc(400% / 12);
  }

  .fr-col-offset-lg-4:not(.fr-col-offset-1--right) {
    margin-left: calc(400% / 12);
  }

  .fr-col-offset-lg-4--right {
    margin-right: calc(400% / 12);
  }

  .fr-col-lg-5 {
    flex: 0 0 calc(500% / 12);
    width: calc(500% / 12);
    max-width: calc(500% / 12);
  }

  .fr-col-offset-lg-5:not(.fr-col-offset-1--right) {
    margin-left: calc(500% / 12);
  }

  .fr-col-offset-lg-5--right {
    margin-right: calc(500% / 12);
  }

  .fr-col-lg-6 {
    flex: 0 0 calc(600% / 12);
    width: calc(600% / 12);
    max-width: calc(600% / 12);
  }

  .fr-col-offset-lg-6:not(.fr-col-offset-1--right) {
    margin-left: calc(600% / 12);
  }

  .fr-col-offset-lg-6--right {
    margin-right: calc(600% / 12);
  }

  .fr-col-lg-7 {
    flex: 0 0 calc(700% / 12);
    width: calc(700% / 12);
    max-width: calc(700% / 12);
  }

  .fr-col-offset-lg-7:not(.fr-col-offset-1--right) {
    margin-left: calc(700% / 12);
  }

  .fr-col-offset-lg-7--right {
    margin-right: calc(700% / 12);
  }

  .fr-col-lg-8 {
    flex: 0 0 calc(800% / 12);
    width: calc(800% / 12);
    max-width: calc(800% / 12);
  }

  .fr-col-offset-lg-8:not(.fr-col-offset-1--right) {
    margin-left: calc(800% / 12);
  }

  .fr-col-offset-lg-8--right {
    margin-right: calc(800% / 12);
  }

  .fr-col-lg-9 {
    flex: 0 0 calc(900% / 12);
    width: calc(900% / 12);
    max-width: calc(900% / 12);
  }

  .fr-col-offset-lg-9:not(.fr-col-offset-1--right) {
    margin-left: calc(900% / 12);
  }

  .fr-col-offset-lg-9--right {
    margin-right: calc(900% / 12);
  }

  .fr-col-lg-10 {
    flex: 0 0 calc(1000% / 12);
    width: calc(1000% / 12);
    max-width: calc(1000% / 12);
  }

  .fr-col-offset-lg-10:not(.fr-col-offset-1--right) {
    margin-left: calc(1000% / 12);
  }

  .fr-col-offset-lg-10--right {
    margin-right: calc(1000% / 12);
  }

  .fr-col-lg-11 {
    flex: 0 0 calc(1100% / 12);
    width: calc(1100% / 12);
    max-width: calc(1100% / 12);
  }

  .fr-col-offset-lg-11:not(.fr-col-offset-1--right) {
    margin-left: calc(1100% / 12);
  }

  .fr-col-offset-lg-11--right {
    margin-right: calc(1100% / 12);
  }

  .fr-col-lg-12 {
    flex: 0 0 calc(1200% / 12);
    width: calc(1200% / 12);
    max-width: calc(1200% / 12);
  }

  .fr-col-offset-lg-12:not(.fr-col-offset-1--right) {
    margin-left: calc(1200% / 12);
  }

  .fr-col-offset-lg-12--right {
    margin-right: calc(1200% / 12);
  }
}

@media (min-width: 78em) {
  .fr-hidden-xl {
    display: none !important;
  }

  .fr-displayed-xl {
    display: inherit !important;
  }

  .fr-sr-only-xl {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
  }

  .fr-container, .fr-container-sm, .fr-container-md, .fr-container-lg {
    max-width: 78rem;
  }

  .fr-container-xl {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 78rem;
  }

  .fr-container-xl--fluid {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  }

  .fr-grid-row-xl--gutters {
    margin: -0.75rem;
  }

  .fr-grid-row-xl--gutters > [class^="fr-col-"],
  .fr-grid-row-xl--gutters > [class*=" fr-col-"],
  .fr-grid-row-xl--gutters > .fr-col {
    padding: 0.75rem;
  }

  .fr-grid-row-xl--no-gutters {
    margin: 0;
  }

  .fr-grid-row-xl--no-gutters > [class^="fr-col-"],
  .fr-grid-row-xl--no-gutters > [class*=" fr-col-"],
  .fr-grid-row-xl--no-gutters > .fr-col {
    padding: 0;
  }

  .fr-col-xl {
    flex: 1;
  }

  .fr-col-xl-1 {
    flex: 0 0 calc(100% / 12);
    width: calc(100% / 12);
    max-width: calc(100% / 12);
  }

  .fr-col-offset-xl-1:not(.fr-col-offset-1--right) {
    margin-left: calc(100% / 12);
  }

  .fr-col-offset-xl-1--right {
    margin-right: calc(100% / 12);
  }

  .fr-col-xl-2 {
    flex: 0 0 calc(200% / 12);
    width: calc(200% / 12);
    max-width: calc(200% / 12);
  }

  .fr-col-offset-xl-2:not(.fr-col-offset-1--right) {
    margin-left: calc(200% / 12);
  }

  .fr-col-offset-xl-2--right {
    margin-right: calc(200% / 12);
  }

  .fr-col-xl-3 {
    flex: 0 0 calc(300% / 12);
    width: calc(300% / 12);
    max-width: calc(300% / 12);
  }

  .fr-col-offset-xl-3:not(.fr-col-offset-1--right) {
    margin-left: calc(300% / 12);
  }

  .fr-col-offset-xl-3--right {
    margin-right: calc(300% / 12);
  }

  .fr-col-xl-4 {
    flex: 0 0 calc(400% / 12);
    width: calc(400% / 12);
    max-width: calc(400% / 12);
  }

  .fr-col-offset-xl-4:not(.fr-col-offset-1--right) {
    margin-left: calc(400% / 12);
  }

  .fr-col-offset-xl-4--right {
    margin-right: calc(400% / 12);
  }

  .fr-col-xl-5 {
    flex: 0 0 calc(500% / 12);
    width: calc(500% / 12);
    max-width: calc(500% / 12);
  }

  .fr-col-offset-xl-5:not(.fr-col-offset-1--right) {
    margin-left: calc(500% / 12);
  }

  .fr-col-offset-xl-5--right {
    margin-right: calc(500% / 12);
  }

  .fr-col-xl-6 {
    flex: 0 0 calc(600% / 12);
    width: calc(600% / 12);
    max-width: calc(600% / 12);
  }

  .fr-col-offset-xl-6:not(.fr-col-offset-1--right) {
    margin-left: calc(600% / 12);
  }

  .fr-col-offset-xl-6--right {
    margin-right: calc(600% / 12);
  }

  .fr-col-xl-7 {
    flex: 0 0 calc(700% / 12);
    width: calc(700% / 12);
    max-width: calc(700% / 12);
  }

  .fr-col-offset-xl-7:not(.fr-col-offset-1--right) {
    margin-left: calc(700% / 12);
  }

  .fr-col-offset-xl-7--right {
    margin-right: calc(700% / 12);
  }

  .fr-col-xl-8 {
    flex: 0 0 calc(800% / 12);
    width: calc(800% / 12);
    max-width: calc(800% / 12);
  }

  .fr-col-offset-xl-8:not(.fr-col-offset-1--right) {
    margin-left: calc(800% / 12);
  }

  .fr-col-offset-xl-8--right {
    margin-right: calc(800% / 12);
  }

  .fr-col-xl-9 {
    flex: 0 0 calc(900% / 12);
    width: calc(900% / 12);
    max-width: calc(900% / 12);
  }

  .fr-col-offset-xl-9:not(.fr-col-offset-1--right) {
    margin-left: calc(900% / 12);
  }

  .fr-col-offset-xl-9--right {
    margin-right: calc(900% / 12);
  }

  .fr-col-xl-10 {
    flex: 0 0 calc(1000% / 12);
    width: calc(1000% / 12);
    max-width: calc(1000% / 12);
  }

  .fr-col-offset-xl-10:not(.fr-col-offset-1--right) {
    margin-left: calc(1000% / 12);
  }

  .fr-col-offset-xl-10--right {
    margin-right: calc(1000% / 12);
  }

  .fr-col-xl-11 {
    flex: 0 0 calc(1100% / 12);
    width: calc(1100% / 12);
    max-width: calc(1100% / 12);
  }

  .fr-col-offset-xl-11:not(.fr-col-offset-1--right) {
    margin-left: calc(1100% / 12);
  }

  .fr-col-offset-xl-11--right {
    margin-right: calc(1100% / 12);
  }

  .fr-col-xl-12 {
    flex: 0 0 calc(1200% / 12);
    width: calc(1200% / 12);
    max-width: calc(1200% / 12);
  }

  .fr-col-offset-xl-12:not(.fr-col-offset-1--right) {
    margin-left: calc(1200% / 12);
  }

  .fr-col-offset-xl-12--right {
    margin-right: calc(1200% / 12);
  }
}
