.fr-fieldset {
  color: var(--g800);
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
}

.fr-fieldset--error {
  & .fr-fieldset__content::before {
    background-color: var(--error);
  }

  & .fr-fieldset__content::before {
    content: "";
    position: absolute;
    top: 0rem;
    bottom: 2.75rem;
    left: -0.5rem;
    width: 2px;
  }
}
