/*
  DSFR Reset/Normalize
*/

:root {
  font-size: 100%;
}

body {
  font-family: Marianne, arial, sans-serif;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  background-color: var(--w);
  color: var(--g800);
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0 0 1rem;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;

  @media (min-width: 768px) {
    & {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
}


h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;

  @media (min-width: 769px) {
    & {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;

  @media (min-width: 769px) {
    & {
      font-size: 1.75rem;
      line-height: 2rem;
    }
  }
}

h4 {
  font-size: 1.375rem;
  line-height: 1.75rem;

  @media (min-width: 769px) {
    & {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;

  @media (min-width: 769px) {
    & {
      font-size: 1.375rem;
      line-height: 1.75rem;
    }
  }
}

h6 {
  font-size: 1.25rem;
  line-height: 1.5rem;

  @media (min-width: 769px) {
    & {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

p {
  margin: 0 0 2.5rem;
}

a {
  color: #0052CC;
  text-decoration: none;
}
a {
  outline-color: var(--focus);
}
a {
  cursor: pointer;
}
a {
  outline-offset: 2px;
  outline-width: 2px;
}
a {
  box-shadow: var(--is-link) 0 1px 0 0 currentColor;
}
a {
  text-decoration: none;
  color: inherit;
}

button, input {
  font-family: Marianne, Arial, sans-serif;
}

button {
  cursor: pointer;
  outline-color: var(--focus);
  outline-offset: 2px;
  outline-width: 2px;
  appearance: none;
  font-family: inherit;
  border: none;

  &[disabled] {
    cursor: not-allowed;
    outline-style: none;
  }
}


input {
  outline-color: var(--focus);
  outline-offset: 2px;
  outline-width: 2px;

  &[type="checkbox"]:enabled,
  &[type="checkbox"]:enabled + label,
  &[type="radio"]:enabled,
  &[type="radio"]:enabled + label {
    cursor: pointer;
  }
}

ol {
  counter-reset: list-number;
}
ol, ul {
  padding-bottom: var(--is-list) 0.5rem;
}
ol, ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
ul, ol, dl {
  padding-left: 40px;
}

ol > li {
  counter-increment: list-number;
}
ol > li, ul > li {
  padding-bottom: var(--is-list) 0.5rem;
}
ol > li::before {
  content: var(--is-list) counters(list-number, ".") ".";
  font-weight: var(--is-list) 700;
}
ol > li::before, ul > li::before {
  padding-right: var(--is-list) 0.5rem;
}


.message {
  font-size: 0.8rem;
  color: red;
  font-style: italic;
  margin-top: 0.25rem;
  height: 1rem;
  line-height: 1rem;
}
