/*
  DSFR Reset/Normalize
*/

:root {
  font-size: 100%;
}

body {
  font-family: Marianne, arial, sans-serif;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;

  @media (min-width: 768px) {
    & {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
}


h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;

  @media (min-width: 769px) {
    & {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;

  @media (min-width: 769px) {
    & {
      font-size: 1.75rem;
      line-height: 2.25rem;
    }
  }
}

h4 {
  font-size: 1.375rem;
  line-height: 1.75rem;

  @media (min-width: 769px) {
    & {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

h5 {
  font-size: 1.375rem;
  line-height: 1.75rem;

  @media (min-width: 769px) {
    & {
      font-size: 1.375rem;
      line-height: 1.75rem;
    }
  }
}

h6 {
  font-size: 1.125rem;
  line-height: 1.5rem;

  @media (min-width: 769px) {
    & {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}


button, input {
  font-family: Marianne, Arial, sans-serif;
}

button {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
    outline-style: none;
  }
}

.message {
  font-size: 0.8rem;
  color: red;
  font-style: italic;
  margin-top: 0.25rem;
  height: 1rem;
  line-height: 1rem;
}
